@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Yanone+Kaffeesatz:wght@200;300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  background-color: #733b28;
}

.hero {
  /* background-image: linear-gradient(to top, #3333337b, #3333337b, #6666663f),
    url('/site_pics/field_1.webp'); */
  background-image: linear-gradient(to top, #3333337b, #3333337b),
    url('/site_pics/field_1.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
}

input {
  padding-left: 10px;
  color: black;
}

.blogpage {
  background-image: linear-gradient(to top, #12121168, #87848479, #0d0c0c74),
    url('/site_pics/field_2.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
}

.podcastpage {
  background-image: linear-gradient(to top, #12121168, #87848479, #0d0c0c74),
    url('/site_pics/field_2.webp');
  background-repeat: repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
}

.glassmorphism-black {
  background: rgba(18, 18, 18, 0.64);
  backdrop-filter: blur(37px);
  -webkit-backdrop-filter: blur(37px);
}

.glassmorphism-audio {
  background: #80422c;

  backdrop-filter: blur(37px);
  -webkit-backdrop-filter: blur(37px);
}

@media (max-width: 768px) {
  .herom {
    background-image: linear-gradient(to top, #12121168, #87848479, #0d0c0c74),
      url('/site_pics/stream.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: calc(310%);
  }

  .video-mob {
    width: 99vw;
  }

  .sticky {
    position: static;
  }
}

.top-to-btm {
  position: relative;
}

.icon-position {
  position: fixed;
  bottom: 80px;
  right: 25px;
  z-index: 20;
}
.icon-style {
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #000;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
}
.icon-style:hover {
  animation: none;
  background: #9d7739;
  color: #fff;
  /* border: 2px solid #d57703; */
}
@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
